
@{
    ViewData["Title"] = "MobileAdmin";
}

<h1>Mobile Admin</h1>

<a class="nav-link text-dark" asp-area="" asp-controller="products" asp-action="ManageProducts">Manage Products</a>
 |
<a class="nav-link text-dark" asp-area="" asp-controller="products" asp-action="AddProduct">Add Product</a>
 |
<a class="nav-link text-dark" asp-area="" asp-controller="orders" asp-action="OrdersManagment">OrdersManagment</a>
|
@*<li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="account" asp-action="Register">Register New User</a>
    </li>*@