@model CozaStore.Core.ViewModels.CreateProductVM

@{
    ViewData["Title"] = "UpdateProduct";
}

<h1>UpdateProduct</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-controller="products" asp-action="UpdateProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class="custom-select mr-2" asp-items="Html.GetEnumSelectList<CozaStore.Core.Enums.Category>()">
                    <option value=""> Please Sellect Category </option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="custom-select mr-2" asp-items="Html.GetEnumSelectList<CozaStore.Core.Enums.Type>()">
                    <option value=""> Please Sellect Category </option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhotoBinary" class="control-label"></label>
                <input asp-for="PhotoBinary" type="file" class="form-control-file" id="exampleFormControlFile1" />
                <span asp-validation-for="PhotoBinary" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="products" asp-action="ManageProducts">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
